extends ../layout

block content
  h1= title
  .row
    .column.column-50
      for()
      form(method="POST", action="/user/signup")
        fieldset
          label(for="email") Email
          input(type="email", placeholder="bob@example.com", name="email", value="#{email}")
          label(for="password") Password
          input(type="password", placeholder="12345", name="password")
          label(for="confirm_password") Confirm Password
          input(type="password", placeholder="12345", name="confirm_password")
          input(type="submit", value="submit", class="float-right")
